<div class="wrapper">
  <div class="topnav">

    <a routerLink="/">Product Management</a>

    <div class="topnav-right">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      <a routerLink="/product-forms" routerLinkActive="active">Product Forms</a>
      <a routerLink="/products" routerLinkActive="active">Products</a>
      <a href="javscript:;" (click)="logout();">Logout</a>
      <a routerLink="/login" routerLinkActive="active">Login</a>
    </div>
  </div>

  <div class="content">
    <router-outlet></router-outlet>
  </div>

  <div style="clear: both;">&nbsp;</div>

  <div class="footer">
    <p>Product Management System.</p>
  </div>
</div>