<label>I'm looking for..</label>
<form>
  <div class="formgroup">
    <input type="text" placeholder="Enter a Job Description" />
    <button>Search</button>
  </div>
  <div class="formgroup">
    <input type="checkbox" /> Full Time
    <input type="checkbox" /> Part Time / Casual / Freelance
    <select>
      <option>Select Location</option>
      <option>Bhubaneswar</option>
      <option>Bangalore</option>
      <option>Hyderabad</option>
    </select>
  </div>
  <div class="formgroup">
    <a class="button" (click)="signupPopup();">Register</a>
  </div>
</form>

<div class="homeinfo">
  <h3>We're leaders in</h3>
  <h2>Creative Digital Recruitment</h2>
  <p>
    Based in Surry Hills, the creative hub of Sydney we are surrounded by creativity <br />
    and that reflects on the type of jobs we recruit for.
  </p>
  <button>Find out more about us!</button>
</div>